registry: ghcr.io
use_private_registry: false
storage: 
    image: <username>/sbombastic/storage
controller: 
    image: <username>/sbombastic/controller
worker: 
    image: <username>/sbombastic/worker
